*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

html, body{
    width: 100%;
    height:100%;
}
.spinner-wrapper{ /*spinner wrapper*/
    background-color: #000  ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.9s;
}
.spinner-border{ /*spinner box*/
    height: 60px;
    width: 60px;
}

.video-container/*video container*/ 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Place the video behind other content */
  }
  .vertical-text-left {
    writing-mode: vertical-rl; /* Vertical writing mode, right-to-left */
    text-orientation: upright; /* Keep the text upright */
    transform: rotate(180deg); 
    transform-origin: center; /* Set the rotation origin to the center */
    text-orientation: mixed;  
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 18px; /* Adjust the font size as needed */
    margin-left: 40px;
  }
  .vertical-text-right {
    writing-mode: vertical-rl; /* Vertical writing mode, right-to-left */
    text-orientation: upright; /* Keep the text upright */
    transform: scaleX(1);
    /* transform: rotate(180deg);  */
    transform-origin: center; /* Set the rotation origin to the center */
    text-orientation: mixed;  
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 18px; /* Adjust the font size as needed */
    margin-right: 40px;
  }
  .verticleText{
    display: flex;
    margin-top: 200px; 
    
    color: aliceblue;
}
#ruleTheWold{
    color: aliceblue;
    margin-top: 50px;
    font-size: clamp(10px,11.35vw,20vh);
    display: inline-block;
}