*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}


html,
body {
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: 'Centra No. 2 Bold';
  src: url('utils/fonts/CentraNo2-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: 'Centra No. 2 Medium';
  src: url('utils/fonts/CentraNo2-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: 'Centra No. 2 Book';
  src: url('utils/fonts/CentraNo2-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  }

#slider {
  display: flex;
  width: 300vw;
}
#outer{
  /* overflow-x: hidden; */
}
#landingPageVideo {
  width: 100vw;
  height: 100%;
  z-index: -1;
}

#secondPageVideo {
  width: 800px;
  height: 800px;
}
#sectionOne {
  width: 100%;
  height: 100vh;
  background-color: red;
}
#sectionTwo {
  width: 1600px;
  height: 100vh;
  background-color: red;
}

#sectionThree {
  width: 100%;
  height: 100vh;
  background-color: rgb(212, 41, 18);
}
#sectionFourth {
  width: 100%;
  height: 100vh;
  background-color: rgb(212, 41, 18);
}
#rollsRoyalsImage,
svg {
  height: 100%;
  width: 100vw;
}
#interiorImageDiv {
  display: flex;
}
.interiorImage {
  width: 33vw;
  height: 100vh;
}

.video-container/*video container*/ 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Place the video behind other content */
  }
  .vertical-text-left {
    writing-mode: vertical-rl; /* Vertical writing mode, right-to-left */
    text-orientation: upright; /* Keep the text upright */
    transform: rotate(180deg); 
    transform-origin: center; /* Set the rotation origin to the center */
    text-orientation: mixed;  
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 18px; /* Adjust the font size as needed */
    margin-left: 40px;
  }
  .vertical-text-right {
    writing-mode: vertical-rl; /* Vertical writing mode, right-to-left */
    text-orientation: upright; /* Keep the text upright */
    transform: scaleX(1);
    /* transform: rotate(180deg);  */
    transform-origin: center; /* Set the rotation origin to the center */
    text-orientation: mixed;  
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 18px; /* Adjust the font size as needed */
    margin-right: 40px;
  }
  .verticleText{
    display: flex;
    margin-top: 200px; 
    
    color: aliceblue;
}
#ruleTheWold{
    color: aliceblue;
    margin-top: 50px;
    font-size: clamp(10px,11.35vw,20vh);
    display: inline-block;
}