@font-face {
  font-family: 'Centra No. 2 Bold';
  src: url('utils/fonts/CentraNo2-Bold.woff2') format('woff2');
  /* Add more src formats here if needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Centra No. 2 Medium';
  src: url('utils/fonts/CentraNo2-Medium.woff2') format('woff2');
  /* Add more src formats here if needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Centra No. 2 Book';
  src: url('utils/fonts/CentraNo2-Book.woff2') format('woff2');
  /* Add more src formats here if needed */
  font-weight: normal;
  font-style: normal;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Centra No. 2 Medium', sans-serif;
    color: aliceblue;

}

html, body{
    width: 100%;
    height:100%;
}
.spinner-wrapper{ /*spinner wrapper*/
    background-color: #000  ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.9s;
}
.spinner-border{ /*spinner box*/
    height: 60px;
    width: 60px;
}


  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1; /* Place the video behind other content */
  }

  #navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 30px;
  }
#navTags{
  display:flex;
  gap: 30px;
 }

 h1,#ruleTheWorld{
  position: absolute;
  top:75%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Centra No. 2 Medium', sans-serif;
  font-size: 220px;
  white-space: nowrap;
  z-index: 1;
  opacity: .7;

  
 }

 #subHeadings{
  display: flex;
  
  position: absolute;
  top:85%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fbe8cc;
  font-family: 'Centra No. 2 Bold', sans-serif;
 }
 #subHeading1{
  position: absolute;
 
  transform: translate(-733%,-100%);
  /* white-space: nowrap; */
 
  }


  #subHeading2{
  position: absolute;
;
  transform: translate(-420%, -100%);

  }
  #subHeading3{
  position: absolute;
 
  transform: translate(165%,-100%);

  }
  #subHeading4{
  position: absolute;

  transform: translate(700%,-100%);

  }


  #footer{
    position: absolute;
    top:95%;
    left:50% ;
    transform: translate(-50%,-50%);
    display: flex;
   
    #copyRight{
      transform: translate(-90%,120%);
      white-space: nowrap;
      
    }
    img{
      height: 20px;
      width: 60px;
      display:inline-flex;
      gap: 10px;
      transform: translate(-420%,120%);
    }
    #footerLinks{
      a{
        color: aliceblue;
        text-decoration: none;
        
        
      }
      transform: translate(145%,60%)
    }

  }

  .container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }
  #scrollToExplore{
    writing-mode: vertical-rl; /* Vertical text from right to left */
    text-orientation: mixed; /* For mixed text orientation */
    transform: rotate(0deg); /* Rotate the text to point left */
    /* transform: translate(-50%,-50%); */
    
  }
  #pausvideo{
    writing-mode: vertical-rl; /* Vertical text from right to left */
    text-orientation: mixed; /* For mixed text orientation */
    transform: rotate(180deg); /* Rotate the text to point right */
    /* transform: translate(-50%,-50%); */
  }